-- MySQL dump 10.13  Distrib 5.7.14, for Win64 (x86_64)
--
-- Host: localhost    Database: huella_carbono
-- ------------------------------------------------------
-- Server version	5.7.14


use huella_carbono;


/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `asignacion`
--

DROP TABLE IF EXISTS `asignacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `asignacion` (
  `num_recomendacion` int(11) NOT NULL,
  `cod_usuario` varchar(20) NOT NULL,
  `estado` varchar(20) NOT NULL,
  `fecha` date NOT NULL,
  `numero_arboles` int(11) DEFAULT NULL,
  PRIMARY KEY (`num_recomendacion`,`cod_usuario`),
  KEY `cod_usuario` (`cod_usuario`),
  CONSTRAINT `asignacion_ibfk_1` FOREIGN KEY (`num_recomendacion`) REFERENCES `recomendacion` (`num`),
  CONSTRAINT `asignacion_ibfk_2` FOREIGN KEY (`cod_usuario`) REFERENCES `usuario` (`codigo`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `asignacion`
--

LOCK TABLES `asignacion` WRITE;
/*!40000 ALTER TABLE `asignacion` DISABLE KEYS */;
INSERT INTO `asignacion` VALUES (1,'1007','activa','2017-03-10',1),(2,'1007','activa','2017-04-01',2),(2,'1010','activa','2017-11-13',3),(3,'1007','activa','2017-04-01',4),(4,'1009','activa','2017-12-03',5),(8,'1002','activa','2017-02-03',6);
/*!40000 ALTER TABLE `asignacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ciudad`
--

DROP TABLE IF EXISTS `ciudad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ciudad` (
  `codigo` varchar(30) NOT NULL,
  `nombre` varchar(20) NOT NULL,
  `emisionPromedio` double NOT NULL,
  `pais` varchar(20) NOT NULL,
  `poblacion` int(11) NOT NULL,
  `area` double NOT NULL,
  PRIMARY KEY (`codigo`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ciudad`
--

LOCK TABLES `ciudad` WRITE;
/*!40000 ALTER TABLE `ciudad` DISABLE KEYS */;
/*!40000 ALTER TABLE `ciudad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `consumo`
--

DROP TABLE IF EXISTS `consumo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `consumo` (
  `cod_consumo` int(11) NOT NULL AUTO_INCREMENT,
  `cod_usuario` varchar(30) NOT NULL,
  `cod_electro` varchar(30) NOT NULL,
  `fecha` date NOT NULL,
  `horasdeUso` int(11) NOT NULL,
  `kg_co2` double DEFAULT NULL,
  PRIMARY KEY (`cod_consumo`,`cod_usuario`),
  KEY `cod_electro_idx` (`cod_electro`),
  KEY `cod_usuario` (`cod_usuario`),
  CONSTRAINT `cod_electro` FOREIGN KEY (`cod_electro`) REFERENCES `electrodomestico` (`codigo`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `cod_usuario` FOREIGN KEY (`cod_usuario`) REFERENCES `usuario` (`codigo`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB AUTO_INCREMENT=18011 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `consumo`
--

LOCK TABLES `consumo` WRITE;
/*!40000 ALTER TABLE `consumo` DISABLE KEYS */;
INSERT INTO `consumo` VALUES (18000,'1007','e0001','2017-01-09',24,17.841),(18001,'1007','e0003','2017-02-01',6,2.49),(18002,'1007','e0004','2017-04-11',7,2.94),(18003,'1007','e0005','2017-04-30',1,5.73),(18004,'1007','e0006','2017-06-11',5,33.25),(18006,'1004','e0003','2017-02-01',6,2.49),(18007,'1003','e0004','2017-04-11',7,2.94),(18008,'1003','e0005','2017-04-30',1,5.73),(18009,'1011','e0006','2017-06-11',5,33.25);
/*!40000 ALTER TABLE `consumo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `electrodomestico`
--

DROP TABLE IF EXISTS `electrodomestico`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `electrodomestico` (
  `codigo` varchar(30) NOT NULL,
  `nombreGenerico` varchar(20) NOT NULL,
  `nombreReal` varchar(20) NOT NULL,
  `watts` double NOT NULL,
  `marca` varchar(20) DEFAULT NULL,
  `descripcion` varchar(100) DEFAULT NULL,
  `factor_kgc02` double NOT NULL,
  PRIMARY KEY (`codigo`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `electrodomestico`
--

LOCK TABLES `electrodomestico` WRITE;
/*!40000 ALTER TABLE `electrodomestico` DISABLE KEYS */;
INSERT INTO `electrodomestico` VALUES ('e0001','nevera','\nRS7528THCSL',210,'Samsung','nevera de 10 pies',0.00354),('e0002','nevera','GSX96',250,'LG','nevera de 12 pies',0.00384),('e0003','televisor','L9',130,'Toshiba','smart tv',0.0032),('e0004','portatil','\nthinkpad',150,'Lienovo','computadora portatil',0.0028),('e0005','lavadora','\nRim-234',1350,'Electrolux','lavadora',0.00425),('e0006','aire acondicionado','\nTx-2000',1330,'Samsung','aire acondicionado',0.005),('e0007','plancha','\nTx-2000',1000,'oster','plancha para ropa',0.0039);
/*!40000 ALTER TABLE `electrodomestico` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `propuesta`
--

DROP TABLE IF EXISTS `propuesta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `propuesta` (
  `num` int(11) NOT NULL AUTO_INCREMENT,
  `cod_usuario` varchar(30) NOT NULL,
  `tipo` varchar(20) NOT NULL,
  `co2` varchar(20) NOT NULL,
  `nombreEs` varchar(20) NOT NULL,
  `nombrelg` varchar(20) NOT NULL,
  `descripcion` varchar(50) NOT NULL,
  `fuente` varchar(20) NOT NULL,
  PRIMARY KEY (`num`,`cod_usuario`),
  KEY `cod_usuario` (`cod_usuario`),
  CONSTRAINT `propuesta_ibfk_1` FOREIGN KEY (`cod_usuario`) REFERENCES `usuario` (`codigo`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `propuesta`
--

LOCK TABLES `propuesta` WRITE;
/*!40000 ALTER TABLE `propuesta` DISABLE KEYS */;
INSERT INTO `propuesta` VALUES (1,'1007','tipo','co2','nombreEs','nombrelg','descripcion','fuente');
/*!40000 ALTER TABLE `propuesta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recomendacion`
--

DROP TABLE IF EXISTS `recomendacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `recomendacion` (
  `num` int(11) NOT NULL AUTO_INCREMENT,
  `descripcion` varchar(100) NOT NULL,
  `consumo_kg_co2` double NOT NULL,
  `tipo` enum('consumo','viaje') DEFAULT NULL,
  PRIMARY KEY (`num`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recomendacion`
--

LOCK TABLES `recomendacion` WRITE;
/*!40000 ALTER TABLE `recomendacion` DISABLE KEYS */;
INSERT INTO `recomendacion` VALUES (1,'Ahorra energ├¡a',3,'consumo'),(2,'Camina o pedalea',20,'viaje'),(3,'Evita dejar aparatos electronicos enchufados',8,'consumo'),(4,'Mant├⌐n tu autom├│vil en buen estado',60,'viaje'),(5,'Ahorra agua',13,'consumo'),(6,'Ahorra energ├¡a',21,'consumo'),(7,'Usa transporte p├║blico',100,'viaje'),(8,'Recicla y reutiliza',34,'consumo'),(10,'Compra energ├¡a renovable',55,'consumo');
/*!40000 ALTER TABLE `recomendacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transporte`
--

DROP TABLE IF EXISTS `transporte`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `transporte` (
  `codigo` varchar(30) NOT NULL,
  `nombreGenerico` varchar(20) NOT NULL,
  `nombreReal` varchar(20) DEFAULT NULL,
  `factor_kgco2` double NOT NULL,
  `marca` varchar(20) DEFAULT NULL,
  `combustible` varchar(20) NOT NULL,
  `descripcion` varchar(100) DEFAULT NULL,
  `cilindraje` double NOT NULL,
  `modelo` int(11) NOT NULL,
  PRIMARY KEY (`codigo`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transporte`
--

LOCK TABLES `transporte` WRITE;
/*!40000 ALTER TABLE `transporte` DISABLE KEYS */;
/*!40000 ALTER TABLE `transporte` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuario` (
  `codigo` varchar(30) NOT NULL,
  `nombre` varchar(20) NOT NULL,
  `apellido` varchar(20) NOT NULL,
  `fecha_nacimiento` date NOT NULL,
  `profesion` varchar(20) DEFAULT NULL,
  `contrasena` varchar(20) NOT NULL,
  `correo` varchar(100) NOT NULL,
  `cod_ciudad` varchar(30) NOT NULL,
  PRIMARY KEY (`codigo`),
  KEY `cod_ciudad_idx` (`cod_ciudad`),
  CONSTRAINT `cod_ciudad` FOREIGN KEY (`cod_ciudad`) REFERENCES `ciudad` (`codigo`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario`
--

LOCK TABLES `usuario` WRITE;
/*!40000 ALTER TABLE `usuario` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `viaje`
--

DROP TABLE IF EXISTS `viaje`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `viaje` (
  `cod_viaje` int(11) NOT NULL AUTO_INCREMENT,
  `cod_usuario` varchar(30) NOT NULL,
  `cod_transporte` varchar(30) NOT NULL,
  `fecha` date NOT NULL,
  `kilometros` double NOT NULL,
  `kg_co2` double NOT NULL,
  PRIMARY KEY (`cod_viaje`,`cod_usuario`),
  KEY `cod_usuario` (`cod_usuario`),
  KEY `cod_transporte` (`cod_transporte`),
  CONSTRAINT `viaje_ibfk_1` FOREIGN KEY (`cod_usuario`) REFERENCES `usuario` (`codigo`),
  CONSTRAINT `viaje_ibfk_2` FOREIGN KEY (`cod_transporte`) REFERENCES `transporte` (`codigo`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `viaje`
--

LOCK TABLES `viaje` WRITE;
/*!40000 ALTER TABLE `viaje` DISABLE KEYS */;
INSERT INTO `viaje` VALUES (1,'1007','a0001','2017-01-09',24,12.224),(2,'1007','a0003','2017-02-01',11,4.5),(3,'1007','a0001','2017-04-11',200,101.87),(4,'1007','a0005','2017-04-30',21,0.279),(5,'1007','a0004','2017-06-11',36,12.79),(6,'1003','a0002','2017-01-21',40,9.81),(7,'1003','a0006','2017-03-21',44,13.6),(8,'1003','a0005','2017-05-30',21,0.27);
/*!40000 ALTER TABLE `viaje` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2017-11-15 13:03:48
